<footer id="footer">
    <div class="inner">
        <h2>Yerli ICO Takipcisi</h2>
        <p class="ico-responsibility">Bu uygulama Codefiction ekibi tarafından açık kaynak kodlu olarak geliştirilmiştir. Yukarıda ismi geçen firma ya da projelerden Codefiction ya da bu projenin bakımını yapan kişiler "kesinlikle" sorumlu değildir.
            <br/> Eğer bu sayfaya projenizi eklemek istiyorsanız bunun için yapmanız gereken
            <a href="https://github.com/codefiction/ico-takipcisi">https://github.com/codefiction/ico-takipcisi </a> bir Pull Request göndermek.
        </p>

        <ul class="icons">
            <li><a href="https://twitter.com/codefictiontech" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://facebook.com/codefiction" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="mailto:contact@codefiction.tech" class="icon fa-envelope"><span class="label">Email</span></a></li>
            <li><a href="https://medium.com/codefiction" class="icon fa-medium"><span class="label">Medium</span></a></li>
            <li><a href="https://github.com/codefiction" class="icon fa-github"><span class="label">Github</span></a></li>
        </ul>
        <p class="copyright">&copy; Codefiction. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.</p>
    </div>
</footer>