<section id="banner" data-video="images/banner">
    <div class="inner">
        <header>
            <h1>Yerli ICO Listesi</h1>
            <p>Aşağıda yerli yazılımcılar ya da firmalar tarafından yapılan ICO'ların listesini bulabilirsiniz.
                <br/> Siz de kendinizi bu listeye eklemek istiyorsanız <a class="ico-link" href="https://github.com/codefiction/ico-takipcisi/blob/master/README.md">buraya</a> tıklayın.</p>

        </header>
        <a href="#main" class="more">Daha fazlası</a>
    </div>
</section>